:root{
    --fuenteHeading: 'PT Sans', sans-serif!important;
    --fuenteParrafos: 'Open Sans', sans-serif!important;

    --blanco: #ffffff!important;
    --negro: #000000!important;
    --gris: #E1E1E1!important;
    --grisFuenteBoton: #B2B2B2!important;
    --primario: #57017e!important;
    --secundario: #D1D1D1!important;
    --anadir: #1878FD;
}
html{
    box-sizing: border-box!important;
    font-size: 62.5%!important; /* 1 rem = 10px */
    
}

*, *:before, *:after{
    box-sizing: inherit!important;
}

body{
    font-family: var(--fuenteParrafos)!important;
    font-size: 1.6rem!important;
    line-height: 2!important;
}

/** Globales **/
.contenedor{
    /*max-width: 120rem;
    width: 90%;*/
    width: min(90%, 120rem)!important; /*Nuevo*/
    margin: 0 auto!important;
}

a{
    text-decoration: none!important;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading)!important;
    line-height: 1.2!important;
}
h1{
    font-size: 4.8rem!important;
}

h2{
    font-size: 4rem!important;
}
h3{
    font-size: 3.2rem!important;
    margin: 32px 0px!important;
    font-weight: 700!important;
}
h4{
    font-size: 2.8rem!important;
}
img{
    max-width: 100%!important;
}
/** Utilidades **/
.no-margin{
    margin: 0!important;
}

.no-padding{
    padding: 0!important;
}
.centrar-texto{
    text-align: center!important;
}

/** Botones **/

.boton{
    display: block!important;
    font-family: var(--fuenteHeading)!important;
    color: var(--blanco)!important;
    text-align: center!important;
    padding: 1rem 3rem!important;
    font-size: 1.8rem!important;
    text-transform: uppercase!important;
    font-weight: 700!important;
    margin-bottom: 2rem!important;
    border: none!important;
}

.boton--ver--festival{
    position: absolute;
    bottom: 0;
    padding: 1rem!important;
    font-size: 1.8rem!important;
    width: 90%;
}

@media (min-width: 768px) {
    .boton{
        display: inline-block!important;
    }
}

.boton:hover{
    cursor: pointer!important;
}

.boton--primario{
    background-color: var(--primario)!important;
}
.boton--anadir{
    padding: 0.5rem 1.5rem!important;
    background-color: var(--anadir)!important;
}

.boton--anadir:hover{
    background-color: #0054FF!important;
    transition: all ease 0.3s!important;
}

.boton--primario:hover{
    background-color: #860abe!important;
    transition: all ease 0.3s!important;
}

.boton--secundario{
    background-color: var(--secundario);
    cursor: none!important;
}

/** Header **/
.header{
    background-image: url(../img/banner.jpg)!important;
}

.header{
    height: 60rem!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}
.contenedor-header{
    height: 60rem!important;
    background: rgba(0,0,0, 0.8)!important;
}
.header__texto{
    text-align: center!important;
    color: var(--blanco)!important;
    margin-top: 5rem!important;
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 20rem!important;
    }
}

.barra{
    padding-top: 4rem!important;
}

@media (min-width: 768px) {
    .barra{
        display: flex!important;
        justify-content: space-between!important;
        align-items: center!important;
    }
}

.logo{
    color: var(--blanco)!important;
}

.logo__nombre{
    font-weight: 400!important;
}

.logo__bold{
    font-weight: 700!important;
}

@media (min-width: 768px) {
    .navegacion{
        display: flex!important;
        gap: 2rem!important;
    }
}

.navegacion__enlace{
    display: block!important;
    text-align: center!important;
    font-size: 1.8rem!important;
    color: var(--blanco)!important;
}

.navegacion__enlaceBootstrap{
    font-size: 1.8rem!important;
}

.img_usuario{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

/*Contacto*/

.contacto-bg{
    background-image: url(../img/contacto.jpg)!important;
    height: 40rem!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo,
#registration_form_fecha_nacimiento{
    display: flex;
    margin: 2rem;
    gap: 2rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;
}

.campo__field,
#registration_form_fecha_nacimiento_day,
#registration_form_fecha_nacimiento_month,
#registration_form_fecha_nacimiento_year{
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea{
    height: 20rem;
}

.campo__field--checkbox{
    height: 2.5rem;
    width: 2.5rem;
}

.campo__field--checkbox:checked{
    background-color: var(--primario);
    color: var(--blanco);
}

.campo__errores{
    display: flex;
    margin: 2rem;
    flex-direction: column;
    background-color: #FF4D4D;
    border-radius: 1rem;
    
}

.obligatorio{
    color: red;
}

.texto-obligatorio{
    font-size: 1.5rem;
    display: none;
}
#cruz, #tick, #preloader{
    height: 2rem;
    display: none;
    vertical-align: middle;
}

li{
    color: #ffffff!important;
    font-size: 1.5rem!important;
}
.error_login{
    color: #ffffff;
    font-size: 1.5rem;
}
/** Footer **/

.footer{
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
    width: 100%;
}

/** Gestion festivales **/
.config_festivales{
    margin: 0 1rem;
    cursor: pointer;
    color: black;
}

.config_festivales.openModalEditar:hover{
    color: green;
}

.config_festivales.borrar:hover{
    color: red;
}

/** MODAL **/
.modal, .modalEditar, .modalInscripcion{
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    background-color: #111111bd!important;
    display: flex!important;
    opacity: 0!important;
    pointer-events: none!important;
    transition: opacity .6s .9s!important;
    --transform: translateY(-100vh)!important;
    --transition: transform .8s!important;
}

.modal__container{
    margin: auto!important;
    width: 90%!important;
    max-width: 600px!important;
    max-height: 90%!important;
    background-color: #fff!important;
    border-radius: .6rem!important;
    padding: 3rem 2.5rem!important;
    display: grid!important;
    gap: 1rem!important;
    place-items: center!important;
    grid-auto-columns: 100%!important;
    transform: var(--transform)!important;
    transition: transform .3s!important;
    transition: var(--transition)!important;
}

.modal__title{
    font-size: 2.5rem!important;
}

.modal__paragraph{
    margin-bottom: 1rem!important;
}

.modal__img{
    width: 90%!important;
    max-width: 300px!important;
}

.modal--show, .modal--show--editar{
    opacity: 1!important;
    pointer-events: unset!important;
    transition: opacity .6s!important;
    --transform: translateY(0vh)!important;
    --transition: transform .8s .8s!important;
}

.modal__close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 2rem 0 0;
    font-size: 2.5rem;
    color: #8F8F8F;
    cursor: pointer;
}
.modal__close:hover{
    color: #BD2A2A;
    transition: all ease 0.3s!important;
}

#btn-añadir{
    margin: 0 auto;
}
i{
    pointer-events: none;
}

/** CONTENIDO FESTIVALES **/
.carta__img{
    margin: 1rem auto;
    width: 90%;
}

.card{
    margin: 1rem auto;
    height: 37rem;
}

.contenedor-festival{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img_festival{
    margin: 3rem;
}

.img_festival img{
    max-width: 100%;
    height: 70rem;
    background-size: center center;

}

@media (max-width: 768px) {
    .img_festival img{
        height: 40rem;
    }
}

@media (max-width: 480px) {
    .img_festival img{
        height: 30rem;
    }
}

#tituloFest{
    text-transform: uppercase;
}

.titulo_festival{
    margin: 1rem;
}

.descripcion_festival{
    max-width: 100%;
}

.descripcion_festival p{
    width: 80%;
    margin: 0 auto;
}

#btn-inscribirse, #inscrito{
    width: 50%;
    margin: 2rem auto;
}