<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fiestas{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="contenedor-header">
                <div class="contenedor">
                    <div class="barra">
                        <a href="{{ path("index") }}" class="logo"><h1 class="logo__nombre no-margin centrar-texto">Fes<span class="logo__bold">tivales</span></h1></a>

                        <nav class="navegacion">
                            <a href="contacto.html" class="navegacion__enlace">Iniciar Sesión</a>
                            <a href="{{ path("contacto") }}" class="navegacion__enlace">Contacto</a>
                        </nav>
                    </div>
                </div>

                <div class="header__texto">
                    <h2 class="no-margin">Los mejores festivales de tu vida</h2>
                    <p class="no-margin">Inscribete y pasatelo bien</p>
                </div>
            </div>
        </header>
        <div class="contenedor contenido-principal">
                {% block body %}{% endblock %}
        <div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    </body>
</html>
